<h1><a {% if page.url == '/bestpractice' %} class="current" {% endif %} href="{{ site.baseurl }}/bestpractice.html">Best practice</a></h1>

{% assign parts = page.url | split: '/' %}

{% if parts[1] == 'bestpractice' %}
  <ul>
    {% include list-bold.html lb_path="/bestpractice/nativimap"    lb_title="Native IMAP"    %}
    {% include list-bold.html lb_path="/bestpractice/multiprofile"    lb_title="Multi profile"    %}
    {% include list-bold.html lb_path="/bestpractice/getmailnotmuch" lb_title="getmail notmuch" %}
  </ul>
{% endif %}

