{% include header.html %}

<div class="container container-left">
    <div class="row">
        <div class="col-md-3 hidden-xs">
            <div class="sidebar well">
                {% include intro-menu.html %}
                {% include panel-menu.html %}
                {% include howto-menu.html %}
            </div>
        </div>
        <div class="col-md-9">
            <img title="Improve this page" class="improve" width="32" height="32" src="{{ site.baseurl }}/images/edit.svg">
            XXX https://github.com/neomutt/test-doc/blob/master/_{{ page.url }}.md YYY
            {{ content }}
        </div>
    </div>
</div>

{% include footer.html %}
